<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
</head>
<body>
	<div class="ui right pointing fixed menu">
	  	<div class="item">
	      <a href="/" class="ui header"><\></a>
	    </div>
	  	<div class="right menu">
			<a class="item" href="/blogs">Home</a>
			<a class="item" href="/new">Blog+</a>
	  	</div>
	</div>
	<div class="ui container">

